<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bonelf.frame.web.mapper.SysDictItemMapper">
  <resultMap id="BaseResultMap" type="com.bonelf.frame.web.domain.entity.SysDictItem">
    <id column="dict_id" jdbcType="VARCHAR" property="dictId" />
    <result column="item_text" jdbcType="VARCHAR" property="itemText" />
    <result column="item_value" jdbcType="VARCHAR" property="itemValue" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="sort_order" jdbcType="BIGINT" property="sortOrder" />
    <result column="item_status" jdbcType="BIGINT" property="itemStatus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    dict_id, item_text, item_value, `description`, sort_order, create_time, update_time
  </sql>
    <select id="selectDictTextByItemValue" resultType="java.lang.String">
      SELECT item_text FROM sys_dict_item WHERE dict_id=#{dictId} AND item_value=#{itemValue}
    </select>
  <select id="selectDictTextByItemValueBatch" resultType="com.bonelf.frame.web.core.dict.domain.DbDictText">
    SELECT dict_id, item_text, item_value FROM sys_dict_item
    <where>
        <foreach collection="dictText" open="(" close=")" separator=") OR (" item="item">
          dict_id=#{item.dictId} AND item_value=#{item.itemValue} AND item_status=0
        </foreach>
    </where>
  </select>
</mapper>